.task {
    transition: 0.2s;
    border: 2px solid rgb(165, 0, 165);
    border-radius: 15px;
    margin-bottom: 5px;
    cursor: drag;
}

.task:hover {
    filter: brightness(80%);
}

.taskText {
    margin-left: 5px;
    color: rgb(165, 0, 165)
}

/* .taskText {
    margin-left: 5px;
    color: rgb(165, 0, 165);
} */

.taskCompleted {
    transition: 0.2s;
    background-color: rgb(165, 0, 165);
}

.taskCompletedText {
    transition: 0.2s;
    color: white;
    text-decoration: line-through;
}

.inputText {
    color: inherit;
}
